<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<head th:replace="common/header :: navbar"/>

<div class="container">
    <div class="jumbotron">
	    <h1>Spring Boot Thymeleaf Integration</h1>
	    <p class="lead">Add Post</p>
	    <form action="posts" method="post">
	      <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" name="title" />
		  </div>
		  <div class="form-group">
		    <label for="description">Description</label>
		    <input type="text" class="form-control" name="description" />
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
	    </form>
	</div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function(){
	
		});
	/*]]>*/
</script>

</body>
</html>