body {
	background-color: #E7E7E8;
}

nav.navbar {
    background: #6d7fcc;
    color: #fff;
    border-bottom: none;
    border-radius: 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav.navbar .navbar-toggle {
    background: #fff;
    color: #333;
    border: none;
    border-radius: 0;
}

nav.navbar a.navbar-brand {
    color: #fff;
    font-weight: 600;
}

nav.navbar .navbar-collapse {
    border: none;
}

nav.navbar ul.navbar-nav {
    border: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff !important;
}

.nav>li>a:hover {
	color: #6d7fcc !important;
}

.knob-card {
	background-color: #f1f1f1;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    display: flex;
}
